* {
	font: 13px;
	font-family: Times New Roman;
}
.container {
	width: 770px;
	height: 440px;
}
.flex {
	display: flex;
}
.bg-primary {
	height: 40px;
}

#idProduct {
	width: 250px;
	height: 190px;
}

.image {
	width: 115px;
	height: 150px;
	float: left;
}

.bottom {
	background-color: #48adc9;
	clear: both;
	display: inline-block;
	margin-left: 40px;
}
